<!-- Store this code in 'index.html' file inside the 'templates' folder-->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Index</h1>
			</div></br></br></br>
				<h1 class="bottom">
					Hi {{session.username}}!!</br></br> Welcome to the index page...
				</h1>
			{% if images %}
    			<img src="{{ url_for('static', filename='uploads/' + images) }}" width="200" height="150">
				{% else %}
			<p>No Image Available</p>
			{% endif %}
			</br></br></br>
				<a href="{{ url_for('logout') }}" class="btn">Logout</a><br><br>
						<p1 class="bottom">Want a edit profile?<a href="{{ url_for('edit_user') }}">Edit User</a></p1>

		</div>
		</div>
	</body>
</html>
